

initialize() {
	initializeTreeSeq(timeUnit="generations");
// create seasonal counters

// create basic paramters
	initializeMutationType("m1", d, "f", sw);
	m1.color = "blue";
	initializeMutationType("m2", d, "f", ss);
	m2.color = "red";
	m2.convertToSubstitution = T;
	initializeRecombinationRate(r, 2e6);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 1e6, 1e6);
	initializeMutationRate(0);
	
}

1 early() {
	sim.addSubpop("p1", N);
	community.rescheduleScriptBlock(s1, 10*N, 10*N);
	
alls_inds = p1.individuals;
set1 = sample(alls_inds, asInteger(round(N*WinterFreq)));
set2 = setDifference(alls_inds, set1);

	target1=set1.genomes;
	target1.addNewDrawnMutation(m1, 1e6);
	defineConstant("winter", target1.mutations[0]);
	
	target2=set2.genomes;
	target2.addNewDrawnMutation(m2, 1e6);
	defineConstant("summer", target2.mutations[0]);

}
s1 2 late() {sim.treeSeqOutput("./" + name +"overdom_decap.trees");
}




late() {
winter_freq = sim.mutationFrequencies(p1, winter);

	catn(sim.cycle + ": " + "  p_w=" + winter_freq );
}

