initialize() {
initializeTreeSeq();
initializeMutationRate(1e-7);
initializeMutationType("m1", 0.5, "f", 0.1);
initializeGenomicElementType("g1", m1, 1);
initializeGenomicElement(g1, 0, 99999);
initializeRecombinationRate(1e-8);
}
1 early() {
sim.addSubpop("p1", 500);
}
mutationEffect(m1) { return 1.1 + sin(sim.cycle); }

10000 late() {
sim.treeSeqOutput("./test.trees");
}
